#container {
  // min-width: 980px;
  background-color: #f5f5f5;
}
.l-content-fixed {
  width: 100vw;
  margin: 0 auto;
}
.l-content-expanded {
  width: 100vw;
  margin: 0;
}

.l-content-expanded__sells {
  height: 2400px;
}

.header-color {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
}

.l-multicolumn {
  display: flex;
  height: 330px;
  color: #000;
  margin: 26px auto 0;
  width: 940px;
}

.l-multicolumn__last {
}

.l-column:nth-child(1) {
  margin-left: 0;
}

.l-column {
  width: 213px;
  margin-left: 20px;
  background-color: #fff;
  div {
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #000;
    .details {
      display: flex;
      width: 100%;
      padding: 0;
    }
    span {
      margin-top: 8px;
      margin-right: auto;
      font-size: 15px;
      font-weight: 600;
      color: #333;
      left: 16px;
    }
    i {
      margin-top: 10px;
      margin-right: 3px;
      color: #c0c0c0;
    }
    .like {
      margin: 8px 0 0;
      font-weight: 100;
    }
  }
}

.picup-item {
  text-align: center;
  position: relative;
  margin: 86px auto 0;
  width: 1020px;
  a:link { color: #0099e8; }
  a:visited { color: #0099e8; }
  a:hover { color: #0099e8; }
  a:active { color: #0099e8; }
  &-header {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
  }
  .all-product {
    position: absolute;
    right: 0;
    padding: 20px 45px 30px 0;
  }
}

.picup-item__firts {
  margin-top: 26px;
  }

.picup-item__last {
  padding-bottom: 50px;
  }

a:link { color: #0099e8; }
a:visited { color: #0099e8; }
a:hover { color: #0099e8; }
a:active { color: #0099e8; }

.signup-footer {
  background-color: #f5f5f5;
  width: 456px;
  height: 140px;
  margin: 0 auto;
  // padding: 170px 122px 0;
  padding: 40px 0 30px;
  position: relative;
  &-terms {
    display: inline-flex;
    width: 456px;
    font-size: 1rem;
    justify-content: space-around;
  }
  &-log {
    margin: 40px auto 0;
    width:80px;
  }
  &-copyright {
    text-align: center;
    margin-top: 2px;
  }
}

.profile-crumbs-list {
  height: 48.24px;
  background-color: #fff;
  width: 100%;
  display: inline-flex;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  &-box {
    margin: 0 auto;
    width: 1020px;
    padding: 16px;
    ul {
      display: inline-flex;
      li {
        font-size: 14px;
        line-height: 1.2;
        i {
          margin: 0 8px;
          color: #888;
        }
      }
      li.current {
        font-weight: 600;
      }
    }
  }
}
.profile-main {
  margin: 40px auto 0;
  width: 1020px;
  background-color: #f5f5f5;
  display: flex;
  &-nav {
    width: 280px;
    font-size: 1rem;
    line-height: 48.98px;
    margin-right: auto;
    h3 {
      font-size: 16px;
      margin: 30px 0 -10px;
    }
    &-list {
      ul {
        .profile-main-nav-list-current {
          background-color: #eee;
          font-weight: 600;
          i {
            color: #000;
          }
        }
        li {
          width: 280px;
          height: 48.98px;
          background-color: #fff;
          margin-right: 10px;
          position: relative;
          border-top: 1px solid #f5f5f5;
          p {
            padding: 0 10px;
          }
          i {
            position: absolute;
            color: #eee;
            top: 17px;
            right: 10px;
          }
        }
      }
    }
  }
}

.header-log {
  height: 128px;
  background-color: #f5f5f5;
  &-icon {
    padding-top: 40px;
    padding-left: 20%;
  }
}
