.nav {
  width: 1020px;
  height: 44px;
  margin: 8px auto 0;
  &-menu {
    display: flex;
    align-items: center;
    &-item {
      font-size: 14px;
      font-weight: 400;
      color: #333;
      font-weight: bold;
      padding: 0 11px;
    }
    &-category {
      margin-left: -11px;
    }
    &-brand {
      margin-right: auto;
    }
    &-mypage-img {
      display: flex;
      align-items: center;
    }
  }
  span {
    margin-left: 10px;
  }
  img {
    border-radius: 50%;
  }
  .color-emphasis {
    color: red;
  }
  .color {
    color: #c0c0c0;
  }
}

a:link { color: #333; }
a:visited { color: #333; }
a:hover { color: #333; }
a:active { color: #333; }
