%section.l-column
  =link_to product_path(product.id) do
    %header
      / = image_tag product.images.to_s
    %div
      %p
        = product.name
      .details
        %span
          = product.price
        %i.far.fa-heart
        %span.like 1
