%section.l-column
  =link_to product_path(product.id) do
    %header
      = image_tag 'default.jpg', size: '213x220'
    %div
      %p
        = product.name
      .details
        %span
          = product.price
        %i.far.fa-heart
        %span.like 1
