%section.products-show-column-main
  =link_to products_path do
    %header
      = image_tag 'default.jpg', size: '220x220'
    %div
      %p サンプル。adidas! 早い者勝ち
      .details
        %span ¥3,500
        %i.far.fa-heart
        %span.like 1
