%section.l-content-expanded
  .app-banner
    .app-banner-main
      .app-banner-main-store
        %h2 スマホでかんたんフリマアプリ
        %p 今すぐ無料ダウンロード
        .app-banner-main-store-tag
          = image_tag 'mercari_icon.png', size: '68x68'
          %ul
            %li
              = image_tag 'app-store.png', size: '133x40'
            %li
              = image_tag 'google-play.jpg', size: '133x40'
      %figure
        = image_tag 'footer-content.png', size: '300x260'
