%section.l-content-expanded
  %footer.footer
    %nav.footer-nav
      %div.footer-nav-cell
        %h2.footer-nav-cell-header
          メルカリについて
        %ul
          %li
            =link_to products_path do
              会社概要（運営会社）
          %li
            =link_to products_path do
              採用情報
          %li
            =link_to products_path do
              プレスリリース
          %li
            =link_to products_path do
              公式ブログ
          %li
            =link_to products_path do
              メルカリロゴ利用ガイドライン
          %li.log
            .log-twitter
              =link_to products_path,class:"twitter" do
                %i.fab.fa-twitter.fa-2x
            .log-facebook
              =link_to products_path,class:"facebook" do
                %i.fab.fa-facebook.fa-2x
      .footer-nav-cell
        %h2.footer-nav-cell-header
          ヘルプ＆ガイド
        %ul
          %li
            =link_to products_path do
              メルカリガイド
          %li
            =link_to products_path do
              らくらくメルカリ便
          %li
            =link_to products_path do
              ゆうゆうメルカリ便
          %li
            =link_to products_path do
              大型メルカリ便
          %li
            =link_to products_path do
              車体取引ガイド
          %li
            =link_to products_path do
              ゆうゆうメルカリ便
          %li
            =link_to products_path do
              大型メルカリ便
          %li
            =link_to products_path do
              車体取引ガイド
      /プライバシーと利用規約
      .footer-nav-cell
        %h2.footer-nav--cell-header
          プライバシーと利用規約
        %ul
          %li
            =link_to products_path do
              プライバシーポリシー
          %li
            =link_to products_path do
              メルカリ利用規約
          %li
            =link_to products_path do
              あんしんスマホサポート規約に関する利用規約
          %li
            =link_to products_path do
              コンプライアンスポリシー
      .footer-nav-cell
        %ul
          %li
            =link_to products_path do
              個人データの安全管理に係わる基本方針
          %li
            =link_to products_path do
              特定商取引に関する表記
          %li
            =link_to products_path do
              資金決済法に基づく表示
          %li
            =link_to products_path do
              法令順守と犯罪抑止のために
          %li
            =link_to products_path do
              返品・返金ポリシー
      .footer-nav-cell
        %h2.footer-nav-cell-header
          国
        %ul
          %li
            =link_to products_path do
              日本
          %li
            =link_to products_path do
              united States
    .footer-bottom
      = image_tag 'mercari-icon_footer.png', size: '124x31'
    .footer-copyright
      %small
        ©︎ 2019 Mercari
.sell-btn
  =link_to products_path,class:"sell-btn" do
    .sell-btn-text 出品
    %i.fas.fa-camera.fa-3x

