%section.l-content-fixed.header-color
  %header.header
    =link_to products_path,class: "header-icon.header-item" do
      = image_tag 'mercari_logo_horizontal.png', size: '134x36'
    %form{action: "/", method: "post", class: "header-form"}
      %input{name: "title", class: "header-form-input", placeholder: "何かお探しですか？"}
        %i.fas.fa-search.fa-lg
  %nav.nav
    %ul.nav-menu
      %li.nav-menu-item.nav-menu-category
        =link_to products_path do
          %i.fas.fa-bars.color-emphasis.fa-lg
          %span カテゴリーから探す
      %li.nav-menu-item.nav-menu-brand
        =link_to products_path do
          %i.fas.fa-tag.color-emphasis.fa-lg
          %span ブランドから探す
      %li.nav-menu-item.nav-menu-notice
        =link_to products_path do
          %i.fas.fa-bell.color.fa-lg
          %span お知らせ
      %li.nav-menu-item.nav-menu-todolist
        =link_to products_path do
          %i.fas.fa-check.color.fa-lg
          %span やることリスト
      %li.nav-menu-item.nav-menu-mypage
        =link_to profiles_path do
          %div.nav-menu-mypage-img
            = image_tag 'log.jpg', size: '32x32'
            %span マイページ
