%footer.signup-footer
  %ul.signup-footer-terms
    %li
      = link_to "プライバシーポリシー", products_path
    %li
      = link_to "メルカリ利用規約", products_path
    %li
      = link_to "特定商取引に関する表記", products_path
  .signup-footer-log
    = image_tag 'mercari_logo_vertical.png', size: '80x65'
  .signup-footer-copyright
    %small
      ©︎ 2019 Mercari
